.heading {
  display: flex;
  justify-content: center;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temp{
  margin: 5%;
}

.cityClass{
  margin: 2%;
}

.description{
  margin: 2%;
}

.localWeatherTitle{
  display: flex;
  justify-content: center;
}
