body{
  background-color: rgb(130, 200, 223);
}

.appWrap{
  height: 100vh;
}

.homePageWrap{
  margin-top: 10%;
}

.heading {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(130, 200, 223);
  margin-bottom: 8%;
  font-size: 3.5vw;
}


.buttonWrapper {
  display: flex;
  justify-content: center;
}

.buttonHomePage {
  margin-left: 2%;
  margin-right: 2%;
}

.buttonClass{
  border-radius: 10px;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(115, 136, 211);
  color: white;
  width: 100%;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temp {
  margin: 5%;
}

.cityClass {
  margin: 2%;
}

.description {
  margin: 2%;
}

.localWeatherTitle {
  display: flex;
  justify-content: center;
}

.inputLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5%;
}

.inputWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.compareTemp {
  display: flex;
  justify-content: center;
  margin: 2%;
  font-size: 20px;
}
